* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
body {
  background-color: #e8edf2;
}
div.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  padding: 30px;
  box-shadow: 0 0 50px;
}
div.container div.myform {
  width: 270px;
  margin-right: 30px;
}
div.container div.form h2 {
  color: #1c1c1e;
  margin-bottom: 20px;
}
div.container div.myform input {
  border: none;
  outline: none;
  border-radius: 0;
  width: 100%;
  border-bottom: 2px solid #1c1c1e;
  margin-bottom: 25px;
  padding: 7px 0;
  font-size: 14px;
}
div.container div.myform button {
  color: white;
  background-color: #1c1c1e;
  border: none;
  outline: none;
  border-radius: 2px;
  font-size: 14px;
  padding: 5px 12px;
  font-weight: 500;
}
div.container div.image img {
  width: 500px;
}
.btn {
  width: 150px !important;
  background-color: #4f1bfb !important;
  border: none !important;
  outline: none !important ;
  border-radius: 49px;
  color: #fff !important;
  text-transform: uppercase !important;
  cursor: pointer !important;
  transition: 0.5s !important;
}
