<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Application Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <style>
    form{
        text-align: center;
        color: black;
        border: 5px solid plum;
        border: 3px solid black;
        padding: 1px;
        background-color:azure;
        border-radius: 5px;
        margin-left: 450px;
        margin-right: 450px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    
  </style>
  <form action="{% url 'register' %}" method="POST">
    {% csrf_token %}  
</body>
<h1 style="color:rgb(0,125,255);text-align: center;">NetBanking Application Form</h1>
  <h2 style="color:violet;text-align: center;"> Customer Details</h2>
  <h3 style="color:rgb(0, 183, 250);text-align: center;">(All fields with are mandatory to be filled)</h3>

  <hr>
  Customer Name:
  <br>
  <br>
 <label>First Name</label>
  <input type="text" placeholder=" Enter First Name" name = 'firstname'>
  
  <label>Last Name</label>
  <input type="text" placeholder=" Enter Last Name" name = 'lastname'>
  <br>
  <br>
  Parent Name:
  <input type="text" placeholder=" Enter Name" name = 'parentname'>
  
  <br>
  <br>
  
  
  
<label<label>Email Address:</label>
<input type="text" name = "emailaddress" placeholder="  Enter Email Address" size="53">
<br>
<br>
<label>Mobile Number:</label>
<input type="text" name = "mobilenumber" placeholder="Enter Mobile Number" size="52" >

 <br>
 <br>
 Date of Birth: <input
    type="date" name="dateofbirth">
    <br>
    <br>

    <label>Gender</label>
    <i class="fa fa-question-circle"></i>
    <br>
    <select name="gender" id="gender">
      <option value="default">Select</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select>
    <br>
    <br>

    
    <label>Aadhaar Number:</label>
    <input type="text" name = "aadharnumber" placeholder="Enter Aadhaar Number" size="50">
    <br>
    <br>
    <label>Address:</label>
    <input type="text" name ="address" placeholder="Enter Address" size="59">
    <br>
    <br>
    <label>City:</label>
    <input type="text" name ="city" placeholder="Enter City" size="63">
    <br>
    <br>
    <label>Pin Code:</label>
  <input type="text" name ="pincode" placeholder="Enter Pin Code" size="58">

  <br>
  <br>
  <input type="submit" value="Apply">           
  </form>    


</html>