<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="#">
    <title></title>
    <!-- <img src="https://tse3.mm.bing.net/th?id=OIP.zyqYtpxlz4Z12DLvSyNXdAHaEK&pid=Api&P=0" alt="" width="2000" height="2000"> -->
    {% csrf_token %}
  
  </head>
  <body >
    
      
  
    <h2 style="text-align: center;background-color:rgb(25,160,163);"> NETBANKING</h2>
    
    <font size="4" color="black"><b>

    
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand text-light" href="#"></a>
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div>
       <img src="https://www.netbank.nordea.dk/netbank/html/images/theme/title_netbank.jpg">
       </div>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-link active text-light" href="{% url 'frontpage' %}">Home <span class="sr-only"></span></a>
            <a class="nav-link text-light" href="{% url 'transaction' %}">Transactions</a>
            <a class="nav-link text-light" href="{% url 'loan' %}">Loan</a>
            <a class="nav-link text-light" href="{% url 'changepassword' %}">Reset Password</a>
            <a class="nav-link text-light" href="{% url 'logout' %}">Logout</a> 
          </div>
       
          
        </div>
    </nav>
  <body>
      <table>        
        {% block main-content %}
        <style>
          h3{
            font-size: 40px;
          } 
          td{
            font-size: 20px;
          } 
        </style>
        <h3>Account details</h3>
        {% for each in context %}
        <td>
          {% if each.account_holder == request.user %}
          <tr>Account holder</t> :{{each.account_holder}}</tr><br/>
          <tr>Account number</t> :{{each.account_number}}</tr><br/>
          <tr>Account type</t></t>:{{each.account_type}}</tr><br/>
          <tr>Account balance</t>:{{each.balance}}</tr><br/>
          {% endif %}
          {% endfor %} {% endblock main-content %}
        </td>
      </table><br>
      <br>
      <br>


      <!-- <h1>Account Statement</h1>

<form action="/action_page.php">
  <label for="months">Choose a months:</label>
  <select name="Months" id="months">
    <option value="1month">0-1month</option>
    <option value="1-2months">1-2months</option>
    <option value="2-3months">2-3months</option>
    <option value="3-4months">3-4months</option>
  </select> -->
  <form action="{% url 'mini_statement' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Account Statement"></a>
  </form>
  </body>
</html>
