<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="forntpage.css">
    <title></title>
    <!-- <img src="https://tse3.mm.bing.net/th?id=OIP.zyqYtpxlz4Z12DLvSyNXdAHaEK&pid=Api&P=0" alt="" width="2000" height="2000"> -->
    {% csrf_token %}
  
  </head>
  <body >
    
      
  
    <h2 style="text-align: center;background-color:rgb(25,160,163);"> NETBANKING</h2>
    
    <font size="4" color="white"><b>    
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand text-light" href="#"></a>
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div>
       <img src="https://www.netbank.nordea.dk/netbank/html/images/theme/title_netbank.jpg">
       </div>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-link active text-light" href="{% url 'frontpage' %}">Home <span class="sr-only"></span></a>
            <a class="nav-link text-light" href="{% url 'transaction' %}">Transactions</a>
            <a class="nav-link text-light" href="{% url 'loan' %}">Loan</a>
            <a class="nav-link text-light" href="{% url 'changepassword' %}">Reset Password</a>
            <a class="nav-link text-light" href="{% url 'logout' %}">Logout</a> 
          </div>
       
          
        </div>
    </nav>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">
        <h2>Alert</h2>
        <div class="alert alert-danger">
          <strong>Success!</strong> Transation has been failed.
        </div>
</body>
</html>