<!DOCTYPE html>
<html>
  <h1 style="text-align: center;background-color:rgb(25,160,163);"> NETBANKING</h1>
  
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Forgot Password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'NetBanking/css/forgot.css' %}" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
   
    <div class="wrapper">
      <h1>Forgot Password</h1>
      <h3>For my Recover your Account.</h3>
      <form action="{% url 'forgot' %}" method="post">
      {% csrf_token %}
      <div class="inputs">
        <div class="field">
          
          <input type="Username" placeholder="Username" name="username" size = "20" />
        </div>
          <button type="submit">Send</button>
      </div>
    </form>
    </div>
    </form>
  </body>
</html>