<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="forntpage.css">
    <title></title>
    <!-- <img src="https://tse3.mm.bing.net/th?id=OIP.zyqYtpxlz4Z12DLvSyNXdAHaEK&pid=Api&P=0" alt="" width="2000" height="2000"> -->
    {% csrf_token %}
  
  </head>
  <body >
    
      
  
    <h2 style="text-align: center;background-color:rgb(25,160,163);"> NETBANKING</h2>
    
    <font size="4" color="black"><b>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand text-light" href="#"></a>
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div>
       <img src="https://www.netbank.nordea.dk/netbank/html/images/theme/title_netbank.jpg">
       </div>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-link active text-light" href="{% url 'frontpage' %}">Home <span class="sr-only"></span></a>
            <a class="nav-link text-light" href="{% url 'transaction' %}">Transactions</a>
            <a class="nav-link text-light" href="{% url 'loan' %}">Loan</a>
            <a class="nav-link text-light" href="{% url 'changepassword' %}">Reset Password</a>
            <a class="nav-link text-light" href="{% url 'logout' %}">Logout</a> 
          </div>
       
          
        </div>
    </nav>
    <title>KYC form</title>
  </head>
  <body>
    <form action="{% url 'loan' %}" method="POST">
      {% csrf_token %}
    
          <h2><center>KNOW YOUR CUSTERMER (KYC) APPLICATION FORM</center></h2>
          <p><h4>please fill this form in ENGLISH and in BLOCK LETTERS</h4></p>
          <br /><br />
          <head>
            A . IDENTITY DETAILS</head
          ><br /><br />
          1. First name : <input type="text" placeholder="firstname" value="sai" /><br><br>
          2. Lastname  : <input type="text" placeholder="lastname" value="bharadwaj"> <br><br>
          3. Nominal Name: <input type="text" placeholder="nominalsname" value="venkatesh"/>   Nominal Relation  : <input type="text" placeholder="Nominal Relation"><br><br>
          4. Nationality: <input type="Nationality" placeholder="nationality" value="hindu" />
             <br>
             <br>
          5. <label>Gender</label>
          <i class="fa fa-question-circle"></i>
          <br>
          <select name="gender" id="gender">
            <option value="default">Select</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
            <br>
            <br>
          b. Marital status:<br>
          <select name="maritalstatus" id="Marital status">
            <option value="default">Select</option>
            <option value="married">Married</option>
            <option value="single">Single</option>
          </select>
             <br>
             <br>
          c. Date of Birth: <input
            type="date" name="dateofbirth">
            <br>
            <br>
            
            
        
          6.a.PAN:<input type="PAN" name="pan" value="NGEPS1322C"/><br><br> b.Aadhaar
          Number,if any:<input type="Aadhaar" name="adhaarnumber" value="221925084527"/><br><br>
          7. a.Mobile number:
          <input type="tel" placeholder="mobilenumber" name="mobile" value="9515348990" /><br><br>b.Email address:<input
            type="email"
            placeholder="Email address"
            name="email"
            value="saibharadwaj7242@gamil.com"
          />
          <br /><br />
          <head>
            B ADDRESSDETAILS</head
          ><br /><br />
          1.Residential Address
          <textarea rows="2" cols="30" placeholder="address" name="residential">
           Enter address here...</textarea>
          
          Place:<textarea rows="1" name="place"></textarea>    District:<textarea rows="1" name="district"></textarea>  Pincode:<input
            type="Pincode"
            placeholder="Pincode"
            name="pincode"
          />
          state:<input type="state" placeholder="state" name = state/>Country:<input
            type="country"
            placeholder="country"
            name="country"
          /><br><br>
          2.Permanent Address
          <textarea rows="2" cols="30" placeholder="Address" name="permanent">
 Enter address here...</textarea>
          
          Place:<textarea rows="1" name="place"></textarea>    District:<textarea rows="1" name="district"></textarea>  Pincode:<input
            type="Pincode"
            placeholder="Pincode"
            name="pincode"
          />
          state:<input type="state" placeholder="state" name="state"/>Country:<input
            type="country"
            placeholder="country"
            name="country"
          />
<br><br>
        3.Signature:
        <form action="/action_page.php">
          <input type="file" id="myFile" name="filename">
          <input type="submit">

<br><br>
  <input type="submit" value="submit"> 
  </form>
      </div>
    </div>
  </form>
  </body>
</html>
