<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="forntpage.css">
    <title></title>
    <!-- <img src="https://tse3.mm.bing.net/th?id=OIP.zyqYtpxlz4Z12DLvSyNXdAHaEK&pid=Api&P=0" alt="" width="2000" height="2000"> -->
    {% csrf_token %}
  
  </head>
  <body >
    
      
  
    <h2 style="text-align: center;background-color:rgb(25,160,163);"> NETBANKING</h2>
    
    <font size="4" color="white"><b>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand text-light" href="#"></a>
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div>
       <img src="https://www.netbank.nordea.dk/netbank/html/images/theme/title_netbank.jpg">
       </div>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-link active text-light" href="{% url 'frontpage' %}">Home <span class="sr-only"></span></a>
            <a class="nav-link text-light" href="{% url 'transaction' %}">Transactions</a>
            <a class="nav-link text-light" href="{% url 'loan' %}">Loan</a>
            <a class="nav-link text-light" href="{% url 'changepassword' %}">Reset Password</a>
            <a class="nav-link text-light" href="{% url 'logout' %}">Logout</a> 
          </div>
       
          
        </div>
    </nav>
  
  <head>
    <title>Loan Calculator</title>
  </head>
<body>
    <form action="{% url 'loan_amount' %}" method="post">
      {% csrf_token %}
    <div class="calculator">
      <h1>Loan Calculator</h1>
      
      <!-- Calling Calculate function defined in app.js -->
      <p>
        Amount (₹) &nbsp;&nbsp;&nbsp;&nbsp;:
       <div class="slider" id="amountsliderdiv">
            <input id="amount" name="amount" type="number" type="range" min="100000" max="500000" value="100000" oninput="amountValue.innerText = this.value" onchange="Calculate()">
            <p id="amountValue" >100</p>
        </div>
            
      </p>

      <p>
        Interest Rate in % &nbsp;:
         <input id="rate" value="15" onchange="Calculate()" disabled>
        
      </p>

      
       <label> Years to Pay :</label><br>
       <input id="years" name="years" type="number" onchange="Calculate()" />
      

      <h3 id="total"></h3>
      <input type="submit" value="Select"> 
    </div>
   </form>
</body>

<style>
    h1 {
      font-size: 35px;
    }
    h1 {
      font-size: 21px;
      margin-top: 20px;
    }
    .calculator {
      width: 500px;
      height: 600px;
      background-color:rgb(20,160,163);
      position: absolute;
      left: 50%;
      
      top: 60%;
      transform: translateX(-50%) translateY(-50%);
      padding: 50px 10px 100px 100px;
      border-radius: 5px;
      color: white;
    }
    input {
      padding: 7px;
      width: 70%;
      margin-top: 7px;
      
    }

    </style>
<script>
  function Calculate() {
    // Extracting value in the amount
    // section in the variable
    const amount = document.querySelector("#amount").value;

    // Extracting value in the interest
    // rate section in the variable
    const rate = document.querySelector("#rate").value;

    // Extracting value in the months
    // section in the variable
    const months = document.querySelector("#years").value * 12;

    // Calculating interest per month
    const interest = (amount * (rate * 0.01)) / months;

    // Calculating total payment
    const total = (amount / months + interest).toFixed(2);

    document.querySelector("#total").innerHTML = `EMI : (₹) ${total}<br><br>Total amount: ${amount}<br><br>Months: ${months}<br><br>Interest: ${interest}`;
  }

</script>
</body>
</html>