<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in</title>
    <script
      src="https://kit.fontawesome.com/8400a23356.js"
      crossorigin="anonymous"
    ></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'NetBanking/css/style.css' %}" />
  </head>
  <h1 style="text-align: center;background-color:rgb(25,160,163);"> NETBANKING</h1>
  <body>
    <div class="container">
      <div class="myform">
        <form action="{% url 'frontpage' %}" method="post">
          {% csrf_token %}
          <h2>Sign in</h2>
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Username" name="username" />
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password" name="password"/>
          <input type="submit" value="Login"> 
          <a href="{% url 'forgot' %}">Forgot password ?</a>
          <br />
          <p>If new to bank ? <a href="{% url 'register' %}">ApplicationForm</a></p>
          
        </form>
      </div>
      <div class="image">
        <img
          src="{% static 'NetBanking/images/dmitry-demidko-eBWzFKahEaU-unsplash.jpg' %}"
        />
      </div>
    </div>
  </body>
</html>
