<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Document</title>
    <style>
      table {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      td,
      th {
        text-align: left;
        border: 1px solid #dddddd;
        padding: 9px;
      }
      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <h1 style="text-align: center;background-color:rgb(25,160,163);"> NETBANKING</h1>
  <body>
    <form action="#" method="POST">
    {% csrf_token %}  
    <h1>Manager Portal</h1>
    <table>
      <h3>New Accounts</h3>
      <tr>
        <th>s.no</th>
        <th>Account holder</th>
        <th>parentname</th>
        <th>gender</th>
        <th>mobilenumber</th>
        <th>aadharnumber</th>
        <th>Email address</th>
        <th>City</th> 
        <th>Confirmation</th>
      </tr>
      {% for each in context %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{each.firstname}}{{each.lastname}}</td>
        <td>{{each.parentname}}</td>
        <td>{{each.gender}}</td>
        <td>{{each.mobilenumber}}</td>
        <td>{{each.aadharnumber}}</td>
        <td>{{each.emailaddress}}</td>
        <td>{{each.city}}</td>
        <td><a href="{% url 'authorize-user' id=each.id %}"><button type="button">Authorize</button></a></td>
      </tr>
      {% endfor %}
    </table>
    </form>
  </body>
</html>