<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Document</title>
    <style>
      table {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      td,
      th {
        text-align: left;
        border: 1px solid #dddddd;
        padding: 9px;
      }
      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <form action="" method="POST">
    {% csrf_token %} 
  <body>
    <h1 style="color:rgb(164, 36, 175);text-align: center;">Transaction Statements</h1>
     
    
    <table>
      
      <tr>
        <th>s.no</th>
        <th>Intial Balance</th>
        <th>Sent/Received</th>
        <th>Sender/Receiver Details</th>
        <th>Final Balance</th>
      </tr>
      {% for each in context %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{each.intial}}</td>
        <td>{{each.amount}}</td>
        <td>{{each.sender_receiver}}</td>
        <td>{{each.final}}</td>
      </tr>
      {% endfor %}
    </table>
    </form>
  </body>
</html>