<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="#">
    <title></title>
    <!-- <img src="https://tse3.mm.bing.net/th?id=OIP.zyqYtpxlz4Z12DLvSyNXdAHaEK&pid=Api&P=0" alt="" width="2000" height="2000"> -->
    {% csrf_token %}
  
  </head>
  <body ><style>
    form{
        text-align:center;
        color: black;
        padding: 1px;
        background-color:beige;
        border-radius: 2px;
        margin-left:150px;
        margin-right:150px;
        margin-top: 30px;
        margin-bottom: 5px;
         
    }
    input{
        border-radius: 10px;
        padding:10px;
        padding: 10px 80px 10px 10px;
    }
 </style> 
    
      
  
    <h2 style="text-align: center;background-color:rgb(25,160,163);"> NETBANKING</h2>
    
    <font size="4" color="black"><b>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand text-light" href="#"></a>
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div>
       <img src="https://www.netbank.nordea.dk/netbank/html/images/theme/title_netbank.jpg">
       </div>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-link active text-light" href="{% url 'frontpage' %}">Home <span class="sr-only"></span></a>
            <a class="nav-link text-light" href="{% url 'transaction' %}">Transactions</a>
            <a class="nav-link text-light" href="{% url 'loan' %}">Loan</a>
            <a class="nav-link text-light" href="{% url 'changepassword' %}">Reset Password</a>
            <a class="nav-link text-light" href="{% url 'logout' %}">Logout</a> 
          </div>
       
          
        </div>
    </nav>
  </head>
  <body>
    <div class="container mx_auto mt-5 pt-2 col-7">
        {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info">
        {{message}}
    </div>
    
    {% endfor %}
    {% endif %}
    
    <form action = "{% url 'transaction' %}" method="POST">
      {% csrf_token %}
      <h2>Transactions</h2>
        <input type="text" name = 'receiver' placeholder="Receivername">
        <br><br>
        <input type="text" name = 'accountnumber' placeholder="accountnumber">
        <br><br>
        <input type="text" name = 're-account number' placeholder="re-account number">
        <br><br>
        <input type="text" name="amount" placeholder="amount"><br><br>
        <button>send</button>
    </form>

    </div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>
